@charset "utf-8";
/* CSS Document */


/*Admin CSS*/

#mcq_metabox {
	border:1px solid #4285F4;
}

#mcq_metabox .hndle.ui-sortable-handle {
	background-color:#4285F4;
}

#mcq_metabox .hndle.ui-sortable-handle span{
	color:#fff;
}

#mcq_metabox .toggle-indicator{
	color:#fff;
}


.back-settings {
  margin: 20px 0;
}

.back-settings .option-box {
  margin: 10px 0;
  padding: 10px;
}


.back-settings .option-box:hover {
  
}


.back-settings .option-box .option-title {
  font-size: 16px;
  font-weight: bold;
}

.back-settings .option-box .option-info {
  color: rgb(153, 153, 153);
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0;
}

.back-settings .option-box input[type=text],
.back-settings .option-box textarea,
.back-settings .option-box select
{
	width:280px;
}


.back-settings ul.tab-nav {
  clear: both;
  margin: 0;
  padding: 0;
}

.back-settings ul.tab-nav li {
  background: rgb(230, 230, 230) none repeat scroll 0 0;
  border-right: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 15px 20px;
}

.back-settings ul.tab-nav li:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0);

}


.back-settings ul.tab-nav li.active{
	background:#ffffff;
	font-weight: bold;
	}
	
	
	
.back-settings ul.box {
  clear: both;
  margin: 0;
  padding: 0;
}

.back-settings ul.box li.tab-box {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  display: none;
  margin: 0;
  width: 100%;
}



.back-settings .new_user_profile_social {
  margin: 15px 5px;
}



.back-settings ul.voting-bg-img-list{}

.back-settings ul.voting-bg-img-list li {
  display: inline-block;
  margin: 5px;
}
.back-settings ul.voting-bg-img-list li.bg-selected {}

.back-settings ul.voting-bg-img-list li img{border: 2px solid #ffffff;}

.back-settings ul.voting-bg-img-list li.bg-selected img{
  border: 2px solid #ff5a11;
}


.back-settings h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0;
}


.back-settings .expandable {

}

.back-settings .expandable .items {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border-bottom: 1px solid rgb(153, 153, 153);
  margin: 2px 0;
}

.back-settings .expandable .items.ui-sortable-helper {
border: 1px dashed rgb(153, 153, 153);
}



.back-settings .expandable .header {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  padding: 5px;
}

.back-settings .expandable .active .options {
  
  display: block;

}
.back-settings .expandable .options {
	background: none repeat scroll 0 0 rgb(240, 240, 240);
  display: none;
  padding: 10px;
}


@media all and (max-width: 799px) {

	
	.back-settings ul.tab-nav li {
	  display: block;
	  float: none;
	
	}
	
	.back-settings ul.tab-nav li.active{
		font-weight: bold;
		}	

	.back-settings .pricing-table .column {
		display:block;
		float:none;
		width:100%;
		border-right: 1px solid #ff9601;
		margin: 50px 0;
	
	}

	
}








/* New settings */


.mcq_meta_options_container .mcq_single_options {
    background-color: #eee;
    padding: 2px 35px !important;
	width:50%;
}

.mcq_meta_options_container .mcq_delete_single_options {
    display: inline-block;
    margin: 5px 5px;
    font-size: 18px;
    cursor: pointer;
	color:#DE5246;
}

.mcq_meta_options_container .mcq_single_sorter {
    display: inline-block;
    margin-left: 12px;
    font-size: 16px;
    cursor: all-scroll;
}

.mcq_meta_options_container .mcq_single_correct {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    cursor: all-scroll;
}



.mcq_meta_options_container .mcq_add_new_option {
    width: 180px;
    background: #bbb;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    float: right;
	cursor:pointer;
}



