/*
* @Author 		pluginbazar
* Copyright: 	2015 pluginbazar
*/

.red 	{ color:#DE5044 !important; }
.green 	{ color:#1DA361 !important; }
.sky 	{ color:#2EA3F2 !important; }
.blue 	{ color:#4485F3 !important; }

