/*
* @Author 		pluginbazar
* Copyright: 	2015 pluginbazar
*/


.single-qs{

}

.single-qs .meta {
	
}

.single-qs .button {
	display: inline;
    color: #3B78E7 !important;
	font-weight:bolder;
	outline:none;
    text-decoration: none;
    background: #eee;
	padding: 5px 20px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 3px 0px rgba(100, 100, 100, 0.5);
	cursor:pointer;
}

.single-qs .btn_view_correct {
	color: #fff !important;
    background: #3B78E7;
    box-shadow: none;
}


.single-qs .list-mcq-option {
    margin: 0;
    padding: 4px 0;
} 


.single-qs h1{
    font-size:20px !important;
}

.question-pagination {
	margin:25px 0;
}


.single-qs .mcq_related_question {
    margin: 15px 0;
}

.single-qs .mcq_related_single {
	display: inline-block;
    width: 30%;
    vertical-align: top;
    background: #6f6f6f;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    outline: none;
    color: #fff !important;
    text-decoration: none;
    border-radius: 4px;
}














