/*
* @Author 		pluginbazar
* Copyright: 	2015 pluginbazar
*/


@import url('single-question.css');





.mcq_pre_loading i{
	
}


/* =========jQuery Dialog or Confimrm Box========== */
.jconfirm-box-container {
	width: 280px;
    margin: 0 auto;
}
/* =========jQuery Dialog or Confimrm Box========== */



/* ====designing input========== */
.mcq_input_1 select,
.mcq_input_1 input[type="text"] {
	text-align:center;
	border: solid 1px gainsboro;
	padding:8px 0px;
	-webkit-transition: box-shadow 0.3s, border 0.3s;
	-moz-transition: box-shadow 0.3s, border 0.3s;
	-o-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
}
.mcq_input_1 input[type="text"]:focus, .mcq_input_1 input[type="text"].focus {
	border: solid 1px #707070;
	-webkit-box-shadow: 0 0 5px 1px #969696;
	-moz-box-shadow: 0 0 5px 1px #969696;
	box-shadow: 0 0 5px 1px #969696;
}
select,
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
/* ====designing input========== */

/* ======== General Style ======== */
.nodisplay {
	display:none;
}
.bold {
	font-weight:bold;
}

.mcq_btn{
	text-align: center;
    padding: 8px 40px;
    font-size: 18px;
    cursor: pointer;
	-webkit-box-shadow: 0px 5px 12px -2px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 5px 12px -2px rgba(0,0,0,0.71);
	box-shadow: 0px 5px 12px -2px rgba(0,0,0,0.71);
	-webkit-user-select:none;
}

.mcq_btn_primary {
	background-color: #3278BC;
    color: #fff;
	border:2px solid #3278BC;
}
.mcq_btn_primary:hover {
	background-color: #fff;
    color: #3278BC;
}

.mcq_btn_green {
	background-color: #1DA361;
    color: #fff;
	border:2px solid #1DA361;
}
.mcq_btn_green:hover {
	background-color: #fff;
    color: #1DA361;
}

.mcq_icon {
	color:#1189EF;
	font-size:100px;
	text-align:center;
}

.center { text-align:center; }
.center_div { margin-left:auto;margin-right:auto; }

.p {
	margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

.red 	{ color:#DE5044 !important; }
.green 	{ color:#1DA361 !important; }
.sky 	{ color:#2EA3F2 !important; }
.blue 	{ color:#4485F3 !important; }
.yellow 	{ color:#FEA800 !important; }

.s_12	{ font-size:12px !important; } 
.s_14 	{ font-size:14px !important; }
.s_16 	{ font-size:16px !important; }
.s_18 	{ font-size:18px !important; }
.s_20 	{ font-size:20px !important; }
.s_22 	{ font-size:22px !important; }
.s_24 	{ font-size:24px !important; }
.s_26 	{ font-size:26px !important; }
.s_28 	{ font-size:28px !important; }
.s_30 	{ font-size:30px !important; }
.s_56 	{ font-size:56px !important; }



.mt_8 	{ margin-top: 8px !important; }
.mt_10 	{ margin-top: 10px !important; }
.mt_12 	{ margin-top: 12px !important; }

.pl_8 	{ padding-left: 8px !important; }
.pl_10 	{ padding-left: 10px !important; }
.pl_12 	{ padding-left: 12px !important; }



.mb_8 	{ margin-bottom: 8px !important; }
.mb_10 	{ margin-bottom: 10px !important; }
.mb_12 	{ margin-bottom: 12px !important; }

.w_180 	{ width: 180px !important; }
.w_220 	{ width: 220px !important; }
.w_280 	{ width: 280px !important; }
.w_320 	{ width: 320px !important; }
.w_360 	{ width: 360px !important; }
.w_420 	{ width: 420px !important; }
.w_460 	{ width: 460px !important; }



.float_left { float: left !important; }
.float_right { float: right !important; }



/* ======== General Style ======== */



.mcq_start_now {
    width: 200px;
    margin: 15px auto;
    padding: 8px 0;
	cursor:pointer;
	background: #7260b7 !important;
    text-align: center !important;
    color: #fff !important;
    border: 1px solid #7260b7 !important;
	border-radius: 3px !important;
}

.mcq_get_result  {
    background: #7260b7 !important;
    text-align: center !important;
    color: #fff !important;
    border: 1px solid #7260b7 !important;
    border-radius: 3px !important;
	cursor:pointer;
	display:none;
    width: 200px;
    margin: 15px auto;
    text-align: center;
    padding: 8px 0;
}

.mcq_start_now:hover , .mcq_get_result:hover  {
    background: #fff !important;
    color: #7260b7 !important;
}


.mcq_question_container { 
	display:none; 
	-webkit-user-select:none; 
}

.mcq_question_container  a{ 
	text-decoration:none; 
}

.mcq_question_container .steps{}

.mcq_question_container .content{
	background-color: #fff;
}

.mcq_question_container .actions {
	text-align:center;
}

.mcq_question_container .steps ul, .mcq_question_container .actions ul {
  background: #f2f2f2 none repeat scroll 0 0;
  margin: 0;
  padding: 0;
}

.mcq_question_container .steps ul li, .mcq_question_container .actions ul li{
  background: #f2f2f2 none repeat scroll 0 0;
  border-right: 1px solid #ddd;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.mcq_question_container .steps ul li:last-child, .mcq_question_container .actions ul li:nth-child(2) {
  border: medium none;
}

.mcq_question_container .steps-title.title {
  display: none;
}


.mcq_question_container .steps ul li.current {
  background: #e7e6e6 none repeat scroll 0 0;
}

.mcq_question_container .steps ul li a, .mcq_question_container .actions ul li a {
	display: inline-block;
	outline: medium none;
	padding: 7px 14px;
	text-decoration: none;
}


@media only screen and (max-width: 460px) {
    .mcq_question_container .steps ul li a, .mcq_question_container .actions ul li a {
		padding: 5px;
	}
}

.mcq_question_container .steps ul li .current-info,  .mcq_question_container .steps ul li .number{
  display: none;
}

.mcq_question_container .steps-body {
    margin: 20px 0;
}

.mcq_question_title a {
    color: #0A48C4;
}

label.mcq_checkbox_level {
    cursor: pointer;
}




.mcq_result_details {
    width: 280px;
    margin: 0 auto;
    background-color: #d8d8d8;
    border-radius: 3px;
    padding: 10px;
}


.mcq_performance {
    background-color: #3278BC;
    color: #fff;
    width: 72px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px 10px;
    cursor: pointer;
    border: 5px solid;
}

.mcq_mark {
    color: #d48100;
}

.mcq_suggestion {
    color: #10ab07;
}

.mcq_correct_answer,
.mcq_retest {
    background-color: #09a596;
    padding: 1px;
    display: inline-box;
    display: -webkit-inline-box;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-align: -webkit-center;
    margin-top: 8px;
}

.mcq_correct_answer a {
    color: #fff !important;
	text-decoration:none;
}


.list-single-question {
	margin:20px 0;
}


span.list-mcq-option {
    margin-left: 15px;
	cursor:pointer;
}







.question_btn_inline {
    background-color: #476596;
    color: #fff;
    width: 180px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    padding: 8px;
    margin: 15px 5px;
    cursor: pointer;
}



/* The toast - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the toast */
    bottom: 30px; /* 30px from the bottom */
}

#toast  i{
    font-size: 22px;
    margin-right: 10px;
}



.show {
    visibility: visible !important; /* Show the toast */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}